$white:#f7f7f7;
$blue:#0088cc;
$bg-grey: #cccccc;
$black:#212529;

$bg-lightgrey:#d6d6d6;
$bg-dark-blue:#0074ad;
$bg-dark-grey:#404040;


$bg-darktrasparent:#212529cc;
$bg-whitetraspartent:#00000008;
$bg-greytrasparent:#17171740;

$t-1:#b7b7b7;
$t-2:#888888;
$t-3:#777777;
$t-4:#555555;
$t-5:#444444;
$t-6:#333333;

$b-1:#eeeeee;
$b-2:#ededed;
$b-3:#e2e2e2;
$b-4:#d9d9d9;
$b-5:#bfbfbf;
$b-6:#005580;
$b-7:#0000000f;





